@mixin button-link {
  display: flex;
  justify-content: center;
  width: 370px;
  height: 80px;
  background-color: #FF4343;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.6s ease;
}

@mixin btn-link-text {
  align-self: center;
  text-transform: uppercase;
  font-size: $_24px;
  color: $_white;
  font-size: $_24px;
  font-weight: $_black;
}