// font-size

$_64px: 4rem;
$_48px: 3rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_14px: .875rem;
$_13px: 0.8125rem;
$_12px: 0.6666rem;

// font-weight

$_black: 900;
$_bold: 700;
$_regular: 400;
$_medium: 500;

// colors

$_btn-link: #FF4343;
$_btn-link-hover: #E71414;
$_btn-link-active: #FF4343;
$_white: #ffffff;
$_nav-link-active: #E71414;
$_icon-color: #FF4343;
$_team-icon-color: #C6CBCD;
$_descr: #6C7279;
$_gallery-hover: rgba(255, 67, 67, 80%);
$_gallery-active: rgba(185, 12, 12, 80%);
$_secondary-title: #FF4343;
$_team-title: #2D3033;

// borders

$_nav-border: 1px solid #BABBC5;
$_nav-border-hover: 3px solid #BABBC5;
$_nav-border-active: 3px solid #E71414;
$_gallery-border: 1px solid #ffffff;
$_team-icon-border: 1px solid #C6CBCD;


// shadow

$_btn-shadow: 10px 10px 8px rgba(255, 67, 67, 0.5)


