.features {
  background-color: $_white;
  padding: 135px 0;
  @media (max-width: 320px) {
    padding: 35px 0;
  }
}

.fearures-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 88px 30px;
  @media (max-width: 320px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 42px 0;
  }
}

.features-card {
  @include card;
  .fearures-card__img {
    margin-bottom: 60px;
    i {
      @include card-icon;
    }
} 

.features-card__title {
  @include card-title;
  margin-bottom: 25px;
}
  
.features-card__descr {
    
  @include card-descr;
    p {
      text-align: center;
    }
  }  
  }
