.gallery-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
}

.gallery-item {
  max-width: 23.625rem;
  max-height: 21.25rem;
  &::before {
    @include gallery-hover;
    opacity: 0;
  }
}

.gallery-item__img {
  overflow: hidden;
  border: $_gallery-border;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

