.header {
  background-image: url(../img/bg/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  &::before {
    @include header-mask;
  }
}

.header-wrap {
  position: relative;
  z-index: 99;
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: $_nav-border;
  position: relative;
  @media (max-width: 320px) {
    border: none;
    padding: 15px 0;
  }
  
}

.header-navigation-logo {
  span {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: $_black;
    color: #656980;
    .logo-white {
      font-size: 2rem;
      font-weight: $_regular;
      color: $_white;
      @media (max-width: 320px) {
        font-size: 1rem;
      }
    }
    @media (max-width: 320px) {
      font-size: 1rem;
    }
  }
}

.header-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 670px;
  .header-navigation-list__item {
    cursor: pointer;
    .header-navigation-list__item_link {
      text-transform: uppercase;
      color: $_white;
      font-size: $_13px;
      font-weight: $_bold;
      transition: 0.5s ease;
      border-bottom: 3px solid rgba(186, 187, 197, 0);
      padding: 0 25px 38px;
      &:hover {
        border-bottom: $_nav-border-hover;
      }
      &:active {
        color: $_nav-link-active;
        border-bottom: $_nav-border-active;
      }
      @media (max-width: 1024px) {
        font-size: $_12px;
      }
      @media (max-width: 320px) {
        font-size: $_13px;
        color: $_white;
      }
    }
  }
  @media (max-width: 320px) {
    display: none;
  }
}

 @media (max-width: 320px) {
  .header-navigation-list.active{
    z-index: 1;
    &::before {
      @include header-mask;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    position: absolute;
    top: 56px;
    left: -20px;
    width: 112%;
    height: calc(100vh - 57px);
    .header-navigation-list__item {
      z-index: 5;
    }
  }
}


.burger-btn {
  background-color: transparent;
  width: 55px;
  height: 56px;
  border: none;
  display: none;
  i {
    font-size: $_18px;
    color: $_white;
  }
  @media (max-width: 320px) {
    display: block;
  }
}

.header-info {
  padding: 120px 0;
  
  @media (max-width: 1024px) {
  padding: 120px 50px;
  }
  @media (max-width: 320px) {
    padding: 50px 0;
  }
}

.title {
  @include main-title;
  margin-bottom: 31.5px;
  width: 100%;
}

.title-descr{
  max-width: 1000px;
  margin: auto;
  margin-bottom: 80px;
  @media (max-width: 320px) {
    max-width: 280px;
  }

  p{
    color: $_white;
    font-size: $_24px;
    font-weight: $_regular;
    text-align: center;
    @media (max-width: 1024px){
      font-size: $_18px;
    }
  }
}

.title-btn {
  @include button-link;
  position: relative;
  animation-name: pulse;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  &:hover {
    background-color: $_btn-link-hover
  }

  &:active {
    background-color: $_btn-link-active;
    border: none;
    box-shadow: $_btn-shadow;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  100% {
    ransform: scale(1.1);
  }
}

.title-btn-link {
  @include btn-link-text;
  @media (max-width: 1024px) {
    font-size: $_24px;
  }
}