html {
  font-family: "Raleway", "Cardo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  @media (max-width: 1024px){
    max-width: 1000px;
  }
  // @media (max-width: 320px) {
  //   max-width: 280px;
  // }
}

@import '../sass/_fonts.scss';
@import '../sass/_cdn.scss';
@import '../sass/_mixins.scss';
@import '../sass/_var';
@import '../sass/header.scss';
@import '../sass/features.scss';
@import '../sass/gallery.scss';
@import '../sass/our-team.scss';
@import '../sass/slider.scss';
@import '../slick/slick.scss';
@import '../sass/download.scss';
@import '../sass/footer.scss';



